In [1]:
import pandas as pd

In [2]:
rawdata_2008 = pd.read_csv('Data/data.csv')

In [3]:
rawdata_2008

,street,city,zip,state,beds,baths,sq_ft,type,price,latitude,longitude,day,month,date,year
0,1 KENNELFORD CIR,SACRAMENTO,95823,CA,3,2,1144,Residential,200345,38.464520,-121.427606,Mon,May,19,2008
1,10 SEA FOAM CT,SACRAMENTO,95831,CA,3,3,2052,Residential,415000,38.487885,-121.545947,Wed,May,21,2008
2,100 CHELSEA CT,FOLSOM,95630,CA,3,2,1905,Residential,500000,38.694350,-121.177259,Mon,May,19,2008
3,100 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,4897,38.886091,-121.289744,Mon,May,19,2008
4,100 CRYSTALWOOD WAY,LINCOLN,95648,CA,0,0,0,Residential,4897,38.886282,-121.289706,Mon,May,19,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,993 MANTON CT,GALT,95632,CA,4,3,2307,Residential,300000,38.272942,-121.289148,Tue,May,20,2008
979,9937 BURLINE ST,SACRAMENTO,95827,CA,3,2,1092,Residential,150000,38.559641,-121.323160,Fri,May,16,2008
980,9949 NESTLING CIR,ELK GROVE,95757,CA,3,2,1543,Residential,275000,38.397455,-121.468391,Fri,May,16,2008
981,9967 HATHERTON WAY,ELK GROVE,95757,CA,0,0,0,Residential,222500,38.305200,-121.403300,Fri,May,16,2008
982,9970 STATE HIGHWAY 193,PLACERVILLE,95667,CA,4,3,1929,Residential,485000,38.787877,-120.816676,Tue,May,20,2008

In [4]:
cleandata_2008 = rawdata_2008.copy()
cleandata_2008 = cleandata_2008.drop(cleandata_2008.index[cleandata_2008['sq_ft']==0])
display(cleandata_2008.info())
display(cleandata_2008.describe)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812 entries, 0 to 982
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   street     812 non-null    object
 1   city       812 non-null    object
 2   zip        812 non-null    int64
 3   state      812 non-null    object
 4   beds       812 non-null    int64
 5   baths      812 non-null    int64
 6   sq_ft      812 non-null    int64
 7   type       812 non-null    object
 8   price      812 non-null    int64
 9   latitude   812 non-null    float64
 10  longitude  812 non-null    float64
 11  day        812 non-null    object
 12  month      812 non-null    object
 13  date       812 non-null    int64
 14  year       812 non-null    int64
dtypes: float64(2), int64(7), object(6)
memory usage: 101.5+ KB

None

<bound method NDFrame.describe of                      street         city    zip state  beds  baths  sq_ft  \
0          1 KENNELFORD CIR   SACRAMENTO  95823    CA     3      2   1144
1            10 SEA FOAM CT   SACRAMENTO  95831    CA     3      3   2052
2            100 CHELSEA CT       FOLSOM  95630    CA     3      2   1905
5           100 REBECCA WAY       FOLSOM  95630    CA     3      2   2185
6        100 TOURMALINE CIR   SACRAMENTO  95834    CA     5      3   3076
..                      ...          ...    ...   ...   ...    ...    ...
977          9880 IZILDA CT   SACRAMENTO  95829    CA     5      4   3863
978           993 MANTON CT         GALT  95632    CA     4      3   2307
979         9937 BURLINE ST   SACRAMENTO  95827    CA     3      2   1092
980       9949 NESTLING CIR    ELK GROVE  95757    CA     3      2   1543
982  9970 STATE HIGHWAY 193  PLACERVILLE  95667    CA     4      3   1929

            type   price   latitude   longitude  day month  date  year
0    Residential  200345  38.464520 -121.427606  Mon   May    19  2008
1    Residential  415000  38.487885 -121.545947  Wed   May    21  2008
2    Residential  500000  38.694350 -121.177259  Mon   May    19  2008
5    Residential  344250  38.684790 -121.149199  Wed   May    21  2008
6    Residential  240000  38.634370 -121.510779  Mon   May    19  2008
..           ...     ...        ...         ...  ...   ...   ...   ...
977  Residential  598695  38.453260 -121.325730  Fri   May    16  2008
978  Residential  300000  38.272942 -121.289148  Tue   May    20  2008
979  Residential  150000  38.559641 -121.323160  Fri   May    16  2008
980  Residential  275000  38.397455 -121.468391  Fri   May    16  2008
982  Residential  485000  38.787877 -120.816676  Tue   May    20  2008

[812 rows x 15 columns]>

In [5]:
stats_2008 = cleandata_2008.copy()
stats_2008['price per sqft'] = stats_2008['price']/stats_2008['sq_ft']
stats_2008

,street,city,zip,state,beds,baths,sq_ft,type,price,latitude,longitude,day,month,date,year,price per sqft
0,1 KENNELFORD CIR,SACRAMENTO,95823,CA,3,2,1144,Residential,200345,38.464520,-121.427606,Mon,May,19,2008,175.126748
1,10 SEA FOAM CT,SACRAMENTO,95831,CA,3,3,2052,Residential,415000,38.487885,-121.545947,Wed,May,21,2008,202.241715
2,100 CHELSEA CT,FOLSOM,95630,CA,3,2,1905,Residential,500000,38.694350,-121.177259,Mon,May,19,2008,262.467192
5,100 REBECCA WAY,FOLSOM,95630,CA,3,2,2185,Residential,344250,38.684790,-121.149199,Wed,May,21,2008,157.551487
6,100 TOURMALINE CIR,SACRAMENTO,95834,CA,5,3,3076,Residential,240000,38.634370,-121.510779,Mon,May,19,2008,78.023407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,9880 IZILDA CT,SACRAMENTO,95829,CA,5,4,3863,Residential,598695,38.453260,-121.325730,Fri,May,16,2008,154.981879
978,993 MANTON CT,GALT,95632,CA,4,3,2307,Residential,300000,38.272942,-121.289148,Tue,May,20,2008,130.039012
979,9937 BURLINE ST,SACRAMENTO,95827,CA,3,2,1092,Residential,150000,38.559641,-121.323160,Fri,May,16,2008,137.362637
980,9949 NESTLING CIR,ELK GROVE,95757,CA,3,2,1543,Residential,275000,38.397455,-121.468391,Fri,May,16,2008,178.224238
982,9970 STATE HIGHWAY 193,PLACERVILLE,95667,CA,4,3,1929,Residential,485000,38.787877,-120.816676,Tue,May,20,2008,251.425609

In [15]:
zip_stats = (round(
    stats_2008.copy()
    .groupby('zip')
    .agg({'price':'median','price per sqft':'median','sq_ft':'median','city':'count'})
    .rename(columns={'city':"Sales",'price':"Median Price",'price per sqft':'Median Price/sqft','sq_ft':"Median sqft"})
    ,0))

In [16]:
zip_stats

       Median Price  Median Price/sqft  Median sqft  Sales
zip
95603      285000.0              207.0       1255.0      3
95608      248567.0              182.0       1472.0     20
95610      219000.0              123.0       1410.0      7
95614      300000.0              206.0       1457.0      1
95619      216033.0              166.0       1300.0      1
...             ...                ...          ...    ...
95838      130427.0              106.0       1225.0     36
95841      207000.0              132.0       1122.0      7
95842      152727.0              108.0       1116.0     22
95843      231200.0              138.0       1669.0     33
95864      315000.0              232.0       1360.0      5

[66 rows x 4 columns]

In [17]:
zip_stats.to_csv('Data/zipcode_medians_may2008.csv')

In [18]:
test

NameError: name 'test' is not defined